:root {

  /* Colors */

  --brand-primary:   #005BE2;
  --brand-secondary: #143154;

  --interactive-primary:   #005BE2;
  --interactive-secondary: #1A1A1A;
  --interactive-tertiary:  #F3F3F3;

  --content-primary:   #FFFFFF;
  --content-secondary: rgba(255, 255, 255, 0.5);
  --content-tertiary:  #000000;
  --content-link:      #FFFFFF;

  --background-screen:  #000000;
  --background-surface: #0D0D0D;

  --border-neutral: #2D2D2D;
  --border-hover:   #FFFFFF;

  --status-negative: #CC0F26;
  --status-positive: #078A00;

  /* Typography */
  --font-family-base: 'Manrope', sans-serif;

  --font-size-xs:  12px;
  --font-size-sm:  14px;
  --font-size-md:  16px;
  --font-size-lg:  24px;
  --font-size-xl:  40px;

  --font-weight-regular:  400;
  --font-weight-semibold: 600;
  --font-weight-bold:     700;

  /* Spacing */
  --spacing-xs:  8px;
  --spacing-sm:  12px;
  --spacing-md:  16px;
  --spacing-lg:  24px;

  /* Radius */
  --radius-md: 8px;

  /* Transitions */
  --transition-fast: 0.15s ease;

  /* Layout */
  --sidebar-width: 237px;
  --header-height: 80px;
}
